h1 {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    font-family: fantasy;
}
li {
    list-style-type: none;
    border: 1px solid black;
    background-color: grey;
    box-shadow: 2px 2px 2px 2px black;
    font-family: fantasy;
    line-height: 140px;
}
.gridster {
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    width: 960px;
    position: relative;
    margin-left: 17%;
}
.gridster li {
    text-align: center;
}
ul {
    height: 480px;
    width: 960px;
    position: relative;
}
